%mainbutton {
  display: inline-block;
  min-height: 50px;
  min-width: 200px;
  padding: 10px 32px;

  border-radius: 4px;
  border: none;

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: $primaryWhiteColor;
  background-color: $accentColor;
}

%centredFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
